window {
  background-color: #000000;
  border: 1px solid #ffb000;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
}

#input {
  background-color: #000000;
  color: #39ff14;
  border: none;
  border-bottom: 1px solid #1a1f24;
  padding: 8px 12px;
}

#inner-box,
#outer-box,
#scroll {
  background-color: #000000;
  margin: 0;
}

#text {
  color: #ffb000;
  padding: 4px 12px;
}

#entry:selected {
  background-color: #0b0d10;
}

#entry:selected #text {
  color: #39ff14;
}
