* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: #000000;
  color: #ffb000;
  border-bottom: 2px solid #ffb000;
}

#custom-term,
#custom-web,
#custom-files,
#custom-settings,
#custom-close,
#custom-swaync {
  padding: 0 12px;
  color: #ffb000;
  border-left: 1px solid #1a1f24;
}

#custom-cicada {
  color: #39ff14;
  letter-spacing: 0.14em;
  font-weight: 700;
  padding: 0 16px;
}

#custom-settings {
  color: #6cffc8;
}

#custom-close {
  color: #ff3b00;
  font-weight: 700;
}

#workspaces button {
  color: #8a7350;
  padding: 0 10px;
  background: transparent;
}

#workspaces button.active {
  color: #39ff14;
  border-bottom: 2px solid #ff3b00;
}

#window {
  color: #6cffc8;
  letter-spacing: 0.06em;
}

#clock,
#battery,
#network,
#pulseaudio,
#backlight,
#custom-profile {
  padding: 0 12px;
  color: #ffb000;
  border-left: 1px solid #1a1f24;
}

#custom-profile {
  color: #6cffc8;
  letter-spacing: 0.08em;
}

#network.disconnected {
  color: #ff3b00;
}

#battery.critical {
  color: #ff3b00;
}
